body {
  text-align: center;
  margin-top: 30px;
  font-family: "Courier";
  background-color: #1e1e1e; /* Dark background */
  color: #d1d1d1; /* Soft light gray text */
}

img {
  height: 400px;
  width: auto;
  padding: 10px;
}

#valentineQuestion {
  font-size: 50px;
  margin-bottom: 10px;
  color: #a0a0a0; /* Muted gray for the title */
}

.answerButton {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px;
  font-family: "Courier";
  margin-bottom: 20px;
  background-color: #292929; /* Slightly lighter dark background */
  color: #e0e0e0; /* Soft gray text */
  border-radius: 12px;
  border: 2px solid #292929;
  box-shadow: 2px 2px 4px #141414;
  transition: all 0.3s ease;
}

.answerButton:hover {
  background-color: #444444; /* Mid-tone gray hover background */
  color: #ffffff; /* Crisp white hover text */
  border: 2px solid #444444;
  box-shadow: 2px 2px 6px #292929;
}
